.principal {
  h1{
    font-size: 60px;
  }
  .lr{
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
  }
  .perfiles{
    position: absolute;
    top: 30%;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 50%;
  }
}
